auto_mix_prep==0.2.0
pythonnet==3.0.1
clr-loader==0.2.5
numpy
pandas
python-dotenv==0.19.2
pytest
pytest-xdist
black
papermill
jupytext
requests
json-fix
sphinx
sphinx_rtd_theme
termcolor
wheel-filename
pydantic
ipython
